body{
  max-width: 90rem;
  border: 1px solid black;
  margin: 0 auto;
}
/* shared style */
.aslam{
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(137, 135, 161, 1);
}







/* head sectiom */
.icon{
  display: flex;
}
.head{
  display: flex;
  justify-content: space-between;
  max-width: 72rem;
  margin: 0 auto;
  margin-bottom: 7.5rem;
}
.list{
  list-style: none;
  display: flex;
  gap: 4rem;
  margin-top: 3.75rem;
}
.list a{
  text-decoration: none;
  color: inherit;

}
h3{
  margin: 0;
  font-family: "Noto Serif", serif;
  font-size: 4.1rem;
  font-weight: 700;

}
.good{
  max-width: 35.6rem;
  margin-top: 0;
  margin-bottom: 0;
}
.flower-logo{
  display: flex;
  justify-content: space-between;
  max-width: 72rem;
  margin: 0 auto;
  border: 1px solid black;
}
.bottom{
  margin-top: 7.1rem;
}
.img{
  max-width: 570px;

}
/* banner responsive for small device */
@media screen and (max-width: 576px) {
   .hide{
    display: none;
   }
   .flower-logo{
    display: flex;
    flex-direction: column-reverse;
   }

}

/* main section */
main{
  margin-top: 70px;
}
.plant{
  margin-bottom: 500px;
  max-width: 72rem;
  margin: 0 auto;
  /* border: 1px solid black; */
  text-align: center;
}
.fine{
  font-family: Noto Serif;
  font-size: 3rem; 
  font-weight: 700;
  margin: 0;
}
button{
  width: 270px;
  height: 50px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
font-weight: 600;
background: rgba(233, 90, 8, 1);
/* padding: 26px 50px 26px 50px; */
}
.card-child img{
  max-width: 270px;
}
.para{
  text-align: center;
  
}
.card-child{
  max-width: 270px;
}
.card{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.flower-card{
  max-width: 72rem;
  margin: 0 auto;
}


/* responsive card section */
@media screen and (max-width:570px)  {
  .card{
    
    grid-template-columns: repeat(2, 1fr);
  }
  .card-child img{
  max-width: 171px;
}
.card-child{
  max-width: 1710px;

}
button{
width: 171px;
}
}
