body{
  max-width: 90rem;
  border: 1px solid black;
  margin: 0 auto;
}
/* shared style */
.aslam{
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(137, 135, 161, 1);
}







/* head sectiom */
.icon{
  display: flex;
}
.head{
  display: flex;
  justify-content: space-between;
  max-width: 72rem;
  margin: 0 auto;
  margin-bottom: 7.5rem;
}
.list{
  list-style: none;
  display: flex;
  gap: 4rem;
  margin-top: 3.75rem;
}
.list a{
  text-decoration: none;
  color: inherit;

}
h3{
  margin: 0;
  font-family: "Noto Serif", serif;
  font-size: 4.1rem;
  font-weight: 700;

}
p{
  max-width: 35.6rem;
  margin-top: 0;
  margin-bottom: 0;
}
.flower-logo{
  display: flex;
  justify-content: space-between;
  max-width: 72rem;
  margin: 0 auto;
  border: 1px solid black;
}
.bottom{
  margin-top: 7.1rem;
}
.img{
  max-width: 570px;

}
/* banner responsive for small device */
@media screen and (max-width: 576px) {
   .hide{
    display: none;
   }
   .flower-logo{
    display: flex;
    flex-direction: column-reverse;
   }

}
